.sheep {
    border: 1px solid black;
    display: inline-block;
    height: auto;
    margin: 5rem;
    padding: 1rem;
    width: max-content;
}

.female {
    background-color: pink;
}

.male {
    background-color: lightblue;
}

.branded {
    border: 5px solid green;
};